---
import { readItems } from "@directus/sdk";
import BaseLayout from "../../layouts/BaseLayout.astro";
import directus from "../../lib/directus";
import DirectusImage from "../../components/DirectusImage.astro";
import Title from "../../components/Title.astro";
import Button from "../../components/Button.astro";

const { searchParams } = Astro.url;

const selectedMerk = searchParams.get("merk");
const selectedVerkocht = searchParams.get("verkocht");
const merken = await directus.request(readItems("merken"));

const voorraadItems = await directus.request(
  readItems("voorraad", {
    filter: {
      ...(selectedMerk && { merk: { _eq: selectedMerk } }),
      verkocht: { _eq: selectedVerkocht === "true" },
    },
    fields: ["*", { merk: ["naam"], fotos: [{ directus_files_id: ["*"] }] }],
  }),
);
---

<BaseLayout
  title="Voorraad"
  description="De voorraad van de The Mechanic"
  transparentHeader
>
  <div class="bg-sand min-h-dvh p-4 pt-60">
    <div class="container mx-auto max-w-4xl">
      <div class="mb-8 flex flex-col gap-4 md:flex-row">
        <select
          name="merk"
          class="px-12"
          hx-get="/voorraad"
          hx-push-url="true"
          hx-target="#results"
          hx-select="#results"
          hx-swap="outerHTML"
          hx-include="[name=verkocht]"
        >
          <option value="">Alle merken</option>
          {
            merken.map((merkItem) => (
              <option
                value={merkItem.id}
                selected={selectedMerk == merkItem.id}
              >
                {merkItem.naam}
              </option>
            ))
          }
        </select>
        <select
          class="px-12"
          name="verkocht"
          hx-get="/voorraad"
          hx-push-url="true"
          hx-target="#results"
          hx-select="#results"
          hx-swap="outerHTML"
          hx-include="[name=merk]"
        >
          <option value="false" selected={selectedVerkocht === "false"}
            >Beschikbaar</option
          >
          <option value="true" selected={selectedVerkocht === "true"}
            >Verkocht</option
          >
        </select>
      </div>

      <div id="results" class="flex flex-col gap-8">
        {
          voorraadItems.length ? (
            voorraadItems.map((item) => {
              const merk =
                typeof item.merk !== "number" ? item.merk.naam : "Onbekend";
              return (
                <a href={`/voorraad/${item.slug}`}>
                  <div class="flex flex-col overflow-hidden rounded-2xl bg-white md:flex-row">
                    {item.fotos &&
                      item.fotos.length > 0 &&
                      typeof item.fotos[0] !== "number" && (
                        <div class="aspect-[4/3] basis-1/2 overflow-hidden">
                          <DirectusImage
                            file={item.fotos[0].directus_files_id}
                            transition:name={
                              item.fotos[0]?.directus_files_id.id
                            }
                            alt={item.model}
                            width={400}
                            height={300}
                            class="h-full w-full object-cover"
                          />
                        </div>
                      )}
                    <div class="space-y-6 px-8 py-12">
                      <Title class="text-primary text-2xl" variant="tertiary">
                        {merk}&nbsp;{item.model}
                      </Title>
                      <p class="text-sm font-light text-pretty">
                        {item.highlight}
                      </p>
                      <div class="mt-2 grid grid-cols-3">
                        <div class="space-y-1">
                          <dt class="text-neutral-400">Bouwjaar</dt>
                          <dd class="font-light">{item.bouwjaar}</dd>
                        </div>
                        <div class="space-y-1">
                          <dt class="text-neutral-400">Km stand</dt>
                          <dd class="font-light">
                            {Intl.NumberFormat("nl-NL").format(item.km_stand)}
                          </dd>
                        </div>
                        <div class="space-y-1">
                          <dt class="text-neutral-400">Prijs</dt>
                          <dd class="font-light">
                            {item.prijs
                              ? Intl.NumberFormat("nl-NL", {
                                  style: "currency",
                                  currency: "EUR",
                                }).format(item.prijs)
                              : "Op aanvraag"}
                          </dd>
                        </div>
                      </div>
                      <Button
                        size="sm"
                        class="w-full cursor-pointer md:w-auto"
                        variant="primary"
                      >
                        Bekijk model
                      </Button>
                    </div>
                  </div>
                </a>
              );
            })
          ) : (
            <div class="w-full py-12 text-center">
              <p>Geen voertuigen gevonden met de geselecteerde filters.</p>
            </div>
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>
<script>
  document.addEventListener("astro:page-load", () => {
    // @ts-ignore
    htmx.process(document.body);
  });
</script>
