---
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import HighlightedVoorraad from '../components/HighlightedVoorraad.astro';
import Icon from '../components/Icon.astro';
import SanityImage from '../components/SanityImage.astro';
import Title from '../components/Title.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getDiensten, getGlobal, getHome, getReviews } from '../lib/sanity';

const global = await getGlobal();
const home = await getHome();
const diensten = await getDiensten();
const reviews = await getReviews();
---

<BaseLayout title={global?.title} description="">
  <div class="relative flex h-[100dvh] flex-col justify-center p-4 text-white">
    {
      home?.bannerVideo && (
        <video
          autoplay
          playsinline
          muted
          loop
          class="absolute top-0 right-0 bottom-0 left-0 z-0 h-full w-full object-cover"
        >
          <source src={home.bannerVideo.asset._ref} type="video/mp4" />
        </video>
      )
    }
    {
      home?.banner && (
        <SanityImage
          image={home.banner}
          alt="Banner"
          width={1920}
          height={1080}
          class="absolute top-0 right-0 bottom-0 left-0 z-0 h-full w-full object-cover"
        />
      )
    }
    <div
      class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-b from-black/0 to-black/50"
    >
    </div>
    <div class="relative container mx-auto flex max-w-4xl">
      <div class="space-y-2 md:basis-1/2">
        <Title variant="tertiary" class="text-xl">
          <h1>The Mechanic</h1>
        </Title>
        <h2 class="font-neutral text-4xl">Passie voor auto's</h2>
        <p class="block text-xl leading-7 font-light">
          {home?.bannerTekst}
        </p>
        <div class="flex flex-col gap-4 pt-8">
          <a href={home?.cta1Url}>
            <Button class="w-full cursor-pointer" variant="tertiary"
              >{home?.cta1Tekst}</Button
            >
          </a>
          <a href={home?.cta2Url}>
            <Button class="w-full cursor-pointer" variant="outline"
              >{home?.cta2Tekst}</Button
            >
          </a>
        </div>
      </div>
    </div>
    <div class="absolute bottom-4 left-1/2 -translate-x-1/2">
      <Icon name="circle-arrow-down" class="bottom-4 h-10 animate-bounce" />
    </div>
  </div>
  <section class="bg-sand p-4 py-16">
    <div class="container mx-auto max-w-4xl">
      <Title variant="tertiary">
        <span class="text-primary">Onze diensten</span>
      </Title>
      <div class="mt-6 flex flex-col gap-4 md:flex-row">
        {
          diensten.map((dienst) => (
            <Card class="w-full space-y-4">
              {dienst.icoon && (
                <div>
                  <SanityImage
                    image={dienst.icoon}
                    alt={dienst.titel}
                    width={80}
                    height={80}
                    class="w-[80px]"
                  />
                </div>
              )}
              <div class="text-lg font-light">{dienst.titel}</div>
              <ul class="text-md flex-1 leading-9 font-light text-neutral-400">
                {dienst.opsomming?.map((item) => (
                  <li>{item.punt}</li>
                ))}
              </ul>
              {dienst.slug && (
                <a href={"/diensten/" + dienst.slug.current}>
                  <Icon
                    class="mt-4 ml-auto h-10 transition-transform hover:translate-x-1"
                    name="circle-arrow-right"
                  />
                </a>
              )}
            </Card>
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-white px-4 py-12">
    <div class="container mx-auto max-w-4xl md:py-24">
      <Image
        src="/image1.png"
        alt="image1"
        height="500"
        width="900"
        class="w-full rounded-lg"
      />
      <div class="mt-8 flex flex-col gap-2 md:mt-12 md:flex-row md:gap-12">
        <div class="basis-3/5">
          <Title variant="tertiary">
            <span class="text-zinc-500">Over ons</span>
          </Title>
          <div class="text-primary mt-2 text-xl md:text-4xl md:leading-normal">
            The Mechanic is een garage dat is ontstaan door liefde voor auto's
            en de overtuiging dat het anders kan.
          </div>
        </div>
        <div class="basis-2/5 self-end">
          <p class="font-light">
            We zijn gespecialiseerd in Alfa Romeo, Porsche en Landrover. Maar
            ook alle andere automerken zijn bij ons in goede handen. Van
            klassiek tot modern, van Alfa tot Zastava en alles daar tussen. Onze
            kennis is altijd up to date en we beschikken over alle apparatuur om
            jouw auto uit te lezen. Daarnaast hebben we ook een aparte
            motorrevisie ruimte.
          </p>
          <a href="/over-ons">
            <Button size="sm" class="mt-6" variant="primary">
              Lees meer
            </Button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-sand overflow-hidden px-4 py-14">
    <div class="container mx-auto max-w-4xl">
      <div class="embla__viewport">
        <div
          class="embla__container [&>*:nth-child(even)>*]:bg-primary -ml-4 flex [&>*:nth-child(even)>*]:text-white"
        >
          {
            reviews.map(({ naam, body, waardering }) => (
              <div class="embla__slide min-w-0 shrink-0 grow-0 basis-full pl-4 md:basis-1/2">
                <Card class="h-full p-10">
                  <div class="-space-x-1">
                    {[...Array(5)].map((_, i) => (
                      <Icon
                        class={`inline h-4 ${i < waardering ? "" : "opacity-30"}`}
                        name="star"
                      />
                    ))}
                  </div>
                  <div class="mt-4 text-lg font-light">{body}</div>
                  <div class="mt-9">{naam}</div>
                </Card>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="container mx-auto mt-24 max-w-4xl">
      <Title variant="tertiary" class="text-gray-400">
        Uitgelichte auto's
      </Title>
      <div class="mt-4">
        <HighlightedVoorraad />
      </div>
      <div class="mt-8 text-right">
        <a href="/voorraad">
          <Button size="sm" variant="primary">Bekijk alles</Button>
        </a>
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";

  document.addEventListener("astro:page-load", () => {
    const emblaNode = document.querySelector(".embla__viewport") as HTMLElement;
    if (!emblaNode) return;

    EmblaCarousel(
      emblaNode,
      {
        slidesToScroll: "auto",
      },
      [Autoplay({ delay: 3000 })],
    );
  });
</script>
